{% extends "events/base.html" %}


<p>
{% block content %}
    {% for event in events %}
        {% if event.shouldAttend == True %}
            <a href={% url 'attend' event.pk %}>Subscribe</a>
        {% else %}
            <a href={% url 'unattend' event.pk %}>Unsubscribe</a>
        {% endif %}
        {% if event.author == request.user %}
            <a href={% url 'edit' event.pk %}>Edit</a>
            <a href={% url 'delete' event.pk %}>Delete</a>
        {% endif %}
        <h1>{{ event.author }}</h1>
        <h2>{{ event.title }}</h2>
        <h3>{{ event.content }}</h3>
        <h4>{{ event.date_posted }}</h4>
        <h5>Users subscribed: {{ event.subscribed }}</h5>
    {% endfor %}
{% endblock content %}
<p>


