<!DOCTYPE html>

<html>
<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="{% static 'events/main.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</head>

<body style="text-align:center">
    <h1 style="color: #00abab">Please enter your login details</h1>
    <br>
    {% block content %}
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                {{ form.as_p }}
                <button class="btn btn-primary" style="background-color: #00abab" type="submit">Log in</button>
            </fieldset>
        </form>
    {% endblock content %}
</body>

</html>